@CHARSET "ISO-8859-1";

#canvas {
	border: 1px solid black;
}

#game-panel {
	text-align: center;
	width: 100%;
}

#button-group, #game-panel {
	position: relative;
}

#event-panel {
	text-align: left;
	position: absolute;
	top:0;
	left: 0;
	padding: 30px;
}


#button-group {
	width: 500px;
	margin: 0 auto;
}

button[id$="-btn"]{
	background-color: #42cbf4;
	color: white;
	position: relative;
}

#up-btn{
	top: 0;
}

#down-btn {
	bottom: 0;
}

#left-btn {
	left: 0;
}

#right-btn {
	right: 0;
}


.divider {
	position: absolute;
	left: 50%;
	border-right: 1px solid black;
	height: 100%;
}